.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-username {
  margin: 1rem;
}

.login-form-password {
  margin: 1rem;
}

.login-form-submit {
  margin: 1rem;
}

.login-form-register {
  margin: 1rem;
}
